$primary-color: #0099CC;
$secondary-color: grey;
$cabin-font: 'Cabin', sans-serif;
h1 {
  text-align: left;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  margin-top: -0.5em;
  background: $primary-color;
  a {
    text-decoration: none;
  color: black;
  }
}

#sign-up, #sign-out {
  background: $secondary-color;
  border: 0.4em solid $secondary-color;
  border-radius: 0.5em;
  color: white;
}

#or-text {
  font-size: 1.5em;
  color: #2F4F4F;

}

.no-session, .yes-session {
  position: absolute;
  right: 0.5em;
  top: -0.4em;
  li {
    list-style-type: none;
    display: inline-block;
    font-family: $cabin-font;
    font-size: 1.55em;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

.search-div {
  text-align: center;
  #search {
    font-size: 1.6em;
    width: 18em;
  }
  #submit-search {
    -webkit-appearance: none;
    font-size: 1em;
    transition: 1s;
    font-family: $cabin-font;
    &:hover {
    transition: 1s;
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
  }
  }
}