$primary-color: #0099CC;
$cabin-font: 'Cabin', sans-serif;

h3 {
  color: $primary-color;
  float: left;
  font-size: 2em;
  font-weight: bold;
  font-family: $cabin-font;
  margin-top: 0.5em;
  margin-bottom: 0em;
  margin-left: 1.2em;
}

.playlist-div {
  float: left;
  width: 30%;
}

.create-form {
  float: left;
  font-size: 1em;
  margin-left: 2.4em;

  .submit-create {
    margin-top: 1em;
  }
}

.list-all-playlists {
  float: left;
  list-style-type: none;

  li {
    padding: 0.3em;
    background: #D1D2D0;
  }

  a {
    color: $primary-color;
    font-size: 2em;
    font-weight: bold;
    font-family: $cabin-font;
    text-decoration: none;
    transition: 1s;

    &:hover {
      opacity: 0.6;
      transition: 1s;
    }
  }
}

.add-to-your-pl {
  display: none;
  clear: both;
  text-align: center;

  .button-add {
    list-style-type: none;
    font-size: 1em;

    a {
      font-size: 2em;
      color: black;
    }

    .add-to-playlist {
      font-size: 1em;
      font-family: $cabin-font;
      font-weight: bold;
    }
  }
}

.to-playlist {
  margin-top: 0.5em;
  background: green;
  color: white;
  -webkit-appearance: none;
}

h4 {
  float: right;
  a {
    color: red;
    font-family: $cabin-font;
    border: 1px solid black;
    background: black;
    padding: 0.5em;
    transition: 1s;
    &:hover {
      opacity: 0.6;
      transition: 1s;
    }
  }
}