$primary-color: #0099CC;

.search-js {
  display: none;
  float: left;
  width: 40%;
  margin-top: 6.1em;
  text-align: center;
}
.option {
  list-style-type: none;
  font-size: 1.5em;
  background-color: #CFCDCD;
  li {
    margin-left: -1.68em;
    margin-top: 1em;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
  }
  a {
    text-decoration: none;
    color: $primary-color;
  }
}

