<% if user_signed_in? %>
  <div class="playlist-div">
    <h3>Your Playlists</h3>
    <form class="create-form">
      <input placeholder="Create A Playlist" type="create-list" class="submit-create"></input>
      <input type="submit" class="submit-create" value="Create"></input>
    </form>

    <ul class="list-all-playlists">
      <% @playlists.each do |pods| %>
         <li><%= link_to pods.name, playlist_path(pods) %></li>
      <% end %>
    </ul>
  </div>
<% end %>