<% if user_signed_in? %>
  <button id="playlist">Playlist</button>
  <form class="create-form">
    <input placeholder="Create A Playlist" type="create-list" class="submit-create"></input>
    <input type="submit" class="submit-create" value="Create"></input>
  </form>
<% end %>